.quiz-content {
  padding: 20px;
}

.quiz-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.quiz-card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px);
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s, box-shadow 0.3s;
}

.quiz-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.quiz-card h1 {
  text-align: center;
  
}

.quiz-card h3 {
  margin-top: 0;
  font-size: 1.5em;
  white-space: nowrap; /* 텍스트를 한 줄로 표시 */
  overflow: hidden; /* 넘치는 텍스트 숨기기 */
  text-overflow: ellipsis; /* 넘치는 텍스트에 ... 추가 */
}



.quiz-card p {
  white-space: nowrap; /* 텍스트를 한 줄로 표시 */
  overflow: hidden; /* 넘치는 텍스트 숨기기 */
  text-overflow: ellipsis; /* 넘치는 텍스트에 ... 추가 */
}

.loading-message,
.error-message,
.no-quizzes-message {
  text-align: center;
  font-size: 1.2em;
  color: #6c757d;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-button {
  border: none;
  background-color: #333;
  color: white;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.page-button:hover {
  background-color: #555;
}

.page-button.active {
  background-color: #555;
}

.quiz-link {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: inherit; /* 부모 요소의 색상 상속 */
}

.quiz-card {
  cursor: pointer; /* 클릭 가능한 커서로 변경 */
  /* 여기에 추가 스타일을 작성하세요 */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}



