/* src/css/Quiz.css */
/* Team content styling */
.team-content {
    padding: 20px;
  }
  
  .team-container {
    display: flex;
    flex-direction: column;
  }
  
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  

  .team-card {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
  }

.team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  
  .team-card h3 {
    margin-top: 0;
    font-size: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 최대 줄 수 설정 */
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow-wrap: break-word;
}
  
  .team-card p {
    white-space: nowrap; /* 텍스트를 한 줄로 표시 */
    overflow: hidden; /* 넘치는 텍스트 숨기기 */
    text-overflow: ellipsis; /* 넘치는 텍스트에 ... 추가 */
  }
  
  /* 링크 스타일 수정 */
.team-link {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 색상 유지 */
  }

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-tile {
  padding: 10px 15px;
  margin: 0 5px;
  border: 1px solid #90DC1E;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
}

.page-tile:hover {
  background-color: #e0e0e0;
}

.page-tile.active {
  background-color: #90DC1E;
  color: white;
}

.team-card h3 {
    margin: 8px 0; /* 제목 위 아래 여백 */
}

.no-teams-message {
    font-size: 24px; /* 글자 크기 조정 */
    font-weight: bold;
    color: #555;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
  }

  .loading-message {
    font-size: 24px; /* 글자 크기 조정 */
    font-weight: bold;
    color: #555;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-button {
    border: 1px solid rgb(195, 195, 195); /* Green border */
    background-color: white;
    color: #333;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .page-button:hover {
    background-color: #90DC1E; /* Green background on hover */
    color: white; /* Change text color to white on hover */
  }
  
  .page-button.active,
  .page-button:focus {
    background-color: #90DC1E; /* Keep green background when active */
    color: white; /* White text when active */
    font-weight: bold;
    outline: none; /* Remove default outline */
  }
  
  .page-button.active:hover {
    background-color: #77b71b; /* Slightly darker green when active and hovered */
  }
  
  .team-category {
    display: inline-block;
    background-color: #77b71b; /* 카테고리 배경 색상 */
    color: white; /* 카테고리 텍스트 색상 */
    border-radius: 12px; /* 둥근 모서리 */
    padding: 5px 10px; /* 카테고리 안쪽 여백 */
    font-size: 1.0rem; /* 카테고리 텍스트 크기 */
    margin-bottom: 10px; /* 카테고리와 제목 간의 간격 */
  }
  
  .team-title {
    font-size: 1.5rem; /* 제목 텍스트 크기 */
    margin: 5px 0; /* 제목 위아래 간격 */
    color: #333; /* 제목 텍스트 색상 */
  }
  
  .team-description {
    font-size: 1rem; /* 설명 텍스트 크기 */
    color: #666; /* 설명 텍스트 색상 */
    margin: 10px 0; /* 설명 위아래 간격 */
  }
  

.team-member-number,
.team-recruitment,
.team-project {
  font-size: 0.9rem;
  color: #555;
}

.team-member-number strong,
.team-recruitment strong,
.team-project strong {

  color: #ff7d31;
}
